.marquee-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  
  .marquee span {
    display: inline-block;
  }
  
  .marquee.animate span {
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% + 100px)); /* Adjust this value to control the length of the scroll */
    }
  }